#section4 #photos {
  opacity: .88;
}

#section4 #photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px;
  transform: translateX(50px);
}

#section4 ul {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  display: block;
  max-width: 65%;
  text-align: center;
}

#overlay {
  z-index: 150;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  text-align: center;

}

#overlay img {
  margin: 10% auto 0;
  width: 720px;
  border-radius: 5px;
}

#section4 #photos {
  width: 100%;
}

#section4 #photo-gallery {
  width: 100%;
}